<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.dactylology.ResourceOperator.Dao.Mapper.resourceMapper">
  <resultMap id="BaseResultMap" type="com.king.dactylology.ResourceOperator.Dao.entity.resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, word, filepath
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.dactylology.ResourceOperator.Dao.entity.resource">
    insert into resource (id, type, word, 
      filepath)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{word,jdbcType=VARCHAR}, 
      #{filepath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.king.dactylology.ResourceOperator.Dao.entity.resource">
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="word != null">
        word,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.king.dactylology.ResourceOperator.Dao.entity.resource">
    update resource
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="word != null">
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.king.dactylology.ResourceOperator.Dao.entity.resource">
    update resource
    set type = #{type,jdbcType=VARCHAR},
      word = #{word,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectResourceByWord" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource
    where word like "%"#{word,jdbcType=INTEGER}"%"
    ORDER BY LENGTH(word)
  </select>

  <select id="MaxId" resultType="java.lang.Integer">
     select max(id) from resource
  </select>

  <delete id="deleteAll" >
    delete from resource
  </delete>

  <select id="getAll" resultType="java.lang.Integer">
     select id from resource
  </select>




</mapper>